body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #ffee7e;
}

.sectionLayout {
  display: flex;
  padding-left: 300px;
  padding-top: 250px;
  padding-right: 10px;
  flex-wrap: wrap;
}

#footer {
  position: fixed;
  bottom: 0;
  padding: 20px;
  width: 444px;
  text-align: center;
  font-size: 30px;
  color: #ffee7e;
  border-top-right-radius: 50px;
  background-color: #262626;
}

.form {
  flex: 1;
}

.LPlabel input {
  background-color: #262626;
  outline: none;
  width: 444px;
  height: 70px;
  border-top-right-radius: 50px;
  border: none;
  text-align: center;
  color: #ffee7e;
  font-size: 30px;
}

.LPlabel input::placeholder {
  color: #ffee7e;
}

.logo {
  flex: 1;
  padding-top: 120px;
  padding-left: 50px;
}

.btnLayout {
  display: flex;
  justify-content: space-between;
  max-width: 444px;
}

.problemBtn input {
  flex: 1;
  background-color: #262626;
  border: none;
  outline: none;
  padding: 10px;
  width: 150px;
  color: #ffee7e;
  font-size: 20px;
  cursor: pointer;
  position: relative;
}

.problemBtn::after {
  content: "";
  position: absolute;
  margin-left: -145px;
  margin-top: -5px;
  width: 150px;
  height: 39px;
  border: 2px solid #ff7e7e;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.problemBtn:hover::after {
  transform: translate(-10px, 10px);
}

.loginBtn input {
  flex: 1;
  background-color: #262626;
  border: none;
  outline: none;
  padding: 10px;
  width: 150px;
  color: #ffee7e;
  font-size: 20px;
  cursor: pointer;
  position: relative;
}

.loginBtn::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 39px;
  margin-left: -145px;
  margin-top: -5px;
  border: 2px solid #ff7e7e;
  cursor: pointer;
  pointer-events: none;
  background: none;
  transition: transform 0.2s ease-in-out;
}

.loginBtn:hover::after {
  transform: translate(-10px, 10px);
}
